Route: /contact, Controller: IndexController, action: contact, view: contact

<br/>
<table>
    <thead>
        <td>Id</td>
        <td>Name</td>
        <td>Email</td>
    </thead>
    <hr>
    <tbody>
    <?php foreach ($this->view->clientes as $i => $cliente): ?>
        <tr>
            <td><?= $cliente->getId() ?></td>
            <td><?= $cliente->getName() ?></td>
            <td><?= $cliente->getEmail() ?></td>
        </tr>
        <hr>
    <?php endforeach; ?>
    </tbody>
</table>