Route: /, Controller: IndexController, action: index, view: index

<br/>
<table>
    <thead>
        <td>Id</td>
        <td>Name</td>
        <td>Email</td>
    </thead>
    <tbody>
    <?php foreach ($this->view->clientes as $i => $cliente): ?>
        <tr>
            <td><?= $cliente->getId() ?></td>
            <td><?= $cliente->getName() ?></td>
            <td><?= $cliente->getEmail()?></td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>